/thirdparty/assimp/out/build/x64-Release/bin/assimp-vc143-mt.ilk filter=lfs diff=lfs merge=lfs -text
/thirdparty/assimp/out/build/x64-Release/bin/assimp-vc143-mt.pdb filter=lfs diff=lfs merge=lfs -text
/thirdparty/assimp/out/install/x64-Release/lib/assimp-vc143-mt.pdb filter=lfs diff=lfs merge=lfs -text
